{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block title %}
	{{article.title}}
{% endblock %}

{% block context %}
	<h1>{{ article.title }}</h1>
	<pre>{{ article.text }}</pre>
	 <p><a href="/article/addlike/{{article.id}}/"><img src="{% static 'like.png' %}" width="25px" height="25px"></a> {{article.likes}}</p> 
	<h4>Ваши комментарии</h4>
	<div class = "contenier">
		{% for comment in comments %}
			{{ comment.comments_text}}
		{% endfor %}

		<form action="/article/addcomment/{{article.id}}/" method = "post">
			{% csrf_token %}
			{{ form }}
			<input type="submit" class="button" value="Добавить">
		</form>
	</div>


{% endblock %}