{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" 
  integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" 
  crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css'%}">


  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-1L94saFXWAvEw88RkpRz8r28eQMvt7kG9ux3DdCqya/P3CfLNtgqzMnyaUa49Pl2" 
  crossorigin="anonymous">
 -->

  <title>Blog</title>

</head>
<body>
<br>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="{% url 'home' %}">Мой Блог</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <br>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Блог<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'about' %}">О блоге<span class="sr-only">(current)</span></a>
          </li>

         
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <br>
      <br>
      <div class="starter-template">
        {% block title%}
        {% endblock %}
      </div>
    </div>

    <div class="container main-contenet">
    <br>
      <div class="starter-template">
      {% block context %}         
      {% endblock %}
      </div>
    </div><!-- /.container -->
</body>
</html>